<footer id="footer">
	<div class="foo-top">
		<div class="container">
			<div class="footmenu-itemWrap row">
				{{~#footmenu}}
					<div class="foomenu-item">
						<h4>{{title}}</h4>
						<ul>
							{{~#list}}
								<li><a href="#">{{.}}</a></li>
							{{~/list}}
						</ul>
					</div>
				{{~/footmenu}}
			</div><!-- //footmenu-itemWrap -->

			<div class="foo-topBtm">
				<div class="lefside">
					<span class="copyright">&copy; EXPLOSIVEGAMBLING 2015. ALL RIGHTS RESERVED.</span>
					<ul class="term-privacy">
						<li><a href="#"><a href="#">PRIVACY</a></a></li>
						<li><a href="#">POLICY</a></li>
					</ul>
					
				</div>
				<div class="foo-social">
					<a href="#" class="fa fa-facebook wow bounceInUp" data-wow-duration="1s" data-wow-delay="0s"></a>
					<a href="#" class="fa fa fa-google wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s"></a>
					<a href="#" class="fa fa-linkedin wow bounceInUp" data-wow-duration="1s" data-wow-delay="1s"></a>
					<a href="#" class="fa fa-twitter wow bounceInUp" data-wow-duration="1s" data-wow-delay="1.5s"></a>
					<a href="#" class="fa fa-rss wow bounceInUp" data-wow-duration="1s" data-wow-delay="2s"></a>
				</div>
			</div><!-- //foo-topBtm -->
		</div>
	</div><!-- foo-top -->

	<div class="foo-bottom">
		<div class="container">
			<article class="foo-btm-desc">
				<figure class="thumb-rule"><img src="assets/img/logo-rule.png" alt=""></figure>
				<div class="content-text">
					<p>Mr Green Limited is a company registered in accordance with Maltese Law with registration no C43260, Registered office: Mr Green Limited, Tagliaferro Business Centre, Level 7, High Street, Sliema SLM 1549, Malta; for UK customers, Mr Green Limited is licensed and regulated by the UK Gambling Commission, License Number: 000-039264-R-319432-002</p>
				</div>
			</article>
		</div>
	</div>
</footer> <!-- //FOOTER -->
