 <header id="header" class="headerFixed">
 	<div class="container">
	 	<div id="logo">
	 		<a href="#">
	 			<figure><img src="assets/img/logo.png" alt=""></figure>
		 		<!-- <h1>explosive</h1>
		 		<p>gambling</p> -->
	 		</a>
	 	</div>
	 	<div class="head-right"> 
			{{>navigation}}
			<div class="dd-language">
				<div class="btn-group" role="group">
				    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				      ENG
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu">
				      <li><a href="#">CHINA</a></li>
				      <li><a href="#">INA</a></li>
				    </ul>
			    </div>
		    </div>
		</div>
	</div>
 </header> <!-- HEADER -->


  
