{{#is basename 'index'}}
	<section class="intro">
		<div class="container">
			<div class="intro-text">
				<h1 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">CATCH</h1>
				<h2 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s"><sup>the</sup>opportunity</h2>
			</div>
			<div class="intro-btn">
				<a href="#" class="btn-md-green wow bounceInUp" data-wow-duration="2s" data-wow-delay="1.5s">Get Started</a>
			</div><!-- //intro-btn-->
		</div>
	</section><!-- //intro -->
{{/is}}

{{#is basename 'about'}}
	<section class="intro-sub" style="background-image: url('assets/img/bg-intro.jpg');">
		<div class="container">
			<article class="intro-sub-text">
					<h1>about us</h1>
			</article>
		</div>
	</section><!-- //intro-sub -->
{{/is}}

{{#is basename 'single'}}
	<section class="intro-sub" style="background-image: url('assets/img/bg-intro3.jpg');">
		<div class="container">
			<article class="intro-sub-text">
					<h1>SINGLE PAGE</h1>
			</article>
		</div>
	</section><!-- //intro-sub -->
{{/is}}


{{#is basename 'contact'}}
	<section class="intro-sub" style="background-image: url('assets/img/bg-intro2.jpg');">
		<div class="container">
			<article class="intro-sub-text">
					<h1>CONTACT US</h1>
					<span class="small">Get full support from Customer Service</span>
			</article>
		</div>
	</section><!-- //intro-sub -->
{{/is}}


