<nav class="nav">
	<ul>
		<li {{#is basename 'index'}} class="active" {{/is}}><a href="index.html">home</a></li>
        <li><a href="">opportunity</a>
          <ul>
            <li><a href="">Blogs</a> </li>
            <li><a href="">Training eBooks</a> </li>
            <li><a href="">Newsletters</a></li>
            <li><a href="">Webinars</a></li>
            <li><a href="">How-To Tutorials</a></li>
            <li><a href=""> Sample Training Videos</a></li>
          </ul>
        </li>
        <li><a href="">ticket</a></li>
        <li><a href="">support</a>
             <ul>
                <li><a href="">Rapid Learning</a> </li>
                <li><a href="">Single-Concept Learning</a> </li>
                <li><a href=""> Research-Based Learning</a></li>
              </ul>
        </li>
        <li><a href="">contact</a></li>
	</ul>
</nav><!-- //Navigation -->
<a href="javascript:void(0)" class="btn-rwd-sidebar"><i class="fa fa-bars"></i></a>   