{{> intro}}
<div id="main" role="main" >
	<div class="container">
        <div class="about-crowd">
            <header class="title-main">
                <h2>CROWD <span class="text-red">GAMBLING</span></h2>
                <small>the very first from all</small>
            </header>
            <div class="content-text">
                <p>We invite you to explore the rich opportunities available as a WorldVentures Independent Representative. Through our direct-selling model, WorldVentures provides you with everything you need to market and sell vacation and entertainment memberships and other related products and services. You can work full or part time—<strong>from home or anywhere in the world.</strong></p>
            </div>
        </div><!-- /about-crowd -->

        <div class="dice-space">
            <figure><img src="assets/img/dice.png" alt=""></figure>
        </div><!-- //dice-space -->
     </div>

    <div class="about-team">
        <div class="container">
            <div class="vline-text"><span>bulid opportununity</span></div>
            <header class="title-main">
                <h2>who’s <span class="text-red">behind</span></h2>
            </header>

            <div class="teams row">
                <div class="team-itemwrap">
                    {{~#team}} 
                        <div class="team-card {{active}}">
                            <span class="as-icon"><img src="assets/{{iconas}}" alt=""></span>
                            <figure>
                                <img src="assets/{{thumb}}" alt="">
                            </figure>
                            <header>
                                <h3>{{{name}}}</h3>
                                <span class="as">{{as}}</span>
                            </header>
                            <div class="content-text"><p>{{desc}}<p></div>
                        </div><!-- //red-card -->
                    {{~/team}}
                </div>
            </div>

            <div class="about-opportun">
                <div class="inside">
                    <h3>buid your opportunity with us</h3>
                    <div class="content-text"><p>Trustly not only supports real time deposits but also instant withdrawals for users. Our revolutionary new product, Payout Express, allows fast payouts throughout the entire Eurozone.</p></div>
                    <figure>
                        <img src="assets/img/card-explosive.png" alt="">
                    </figure>
                </div>
            </div><!-- //about-opportun -->
        </div>
    </div><!-- //about-team" -->

    <div class="user-benefits">
        <div class="container">
            <ul class="row">
                {{~#benefits}}
                    <li class="benefit-item">
                        <div class="scale">
                            <span>{{number}}</span>
                        </div>
                        <div class="desc">
                            <h2>{{title}}</h2>
                            <div class="content-text">
                                <p>{{desc}}</p>
                            </div>
                        </div>
                    </li>
                {{~/benefits}}
            </ul>
        </div>
    </div><!-- // user-benefits -->

    <section class="ourclients">
        <div class="container">
            <span class="vlinespace"></span>
             <header class="title-main">
                <h2>some of <span class="text-red">great client</span></h2>
                <small>those who have felt our advantage</small>
            </header>
            <ul class="row client-itemwrap">
                {{~#clients}}
                    <li class="client-item">
                        <figure><img src="assets/img/{{.}}" alt=""></figure>
                    </li>
                {{~/clients}}
            </ul>
        </div>
    </section><!-- //ourclients -->

    <section class="subscribe">
        <div class="container">
            <h2>subscribe <span>for latest info</span></h2>
            <div class="f-subscribe">
                <form  autocomplete="on"> 
                    <input type="text" name="" placeholder="your email address here" class="form-control">
                    <!-- <input type="submit" class="btn-plus" value=""> -->
                </form>
            </div>
        </div>
    </section>
</div> <!-- //MAIN -->
  