{{> intro}}
<div id="main" role="main">
    <div class="space60"></div>
    <div class="contact-wrap container">
        <div class="f-contact">
            <form>
              <div class="half-left row">
                    <div class="form-group col-sm-6">
                        <label>Salutation <span class="text-red-lt">*</span></label>
                            <select class="form-control">
                            <option>Select</option>
                            <option>Select 1</option>
                            <option>Select 2</option>
                            <option>Select 3</option>
                            <option>Select 4</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6"></div>
              </div>

              <div class="half-left row">
                   <div class="form-group col-sm-6">
                        <label>First Name <span class="text-red-lt">*</span></label>
                        <input type="text" class="form-control">
                    </div> 
                    <div class="form-group col-sm-6">
                        <label>Last Name <span class="text-red-lt">*</span></label>
                        <input type="text" class="form-control">
                    </div> 
              </div>

              <div class="half-left row">
                  <div class="form-group col-sm-6">
                    <label>Professional Email <span class="text-red-lt">*</span></label>
                    <input type="email" class="form-control">
                  </div>

                 <div class="form-group col-sm-6">
                    <label>Phone</label>
                    <input type="email" class="form-control">
                 </div>
              </div>
              <div class="half-left row">
                 <div class="form-group col-sm-6">
                    <label>Title <span class="text-red-lt">*</span></label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="form-group col-sm-6">
                    <label>Company <span class="text-red-lt">*</span></label>
                    <input type="text" class="form-control">
                  </div>
              </div>
              <div class="half-left row">
                  <div class="form-group col-sm-6">
                    <label>Country <span class="text-red-lt">*</span></label>
                        <select class="form-control">
                        <option>Select</option>
                        <option>Select 1</option>
                        <option>Select 2</option>
                        <option>Select 3</option>
                        <option>Select 4</option>
                    </select>
                  </div>

                  <div class="form-group col-sm-6">
                    <label>Industry <span class="text-red">*</span></label>
                    <select class="form-control">
                        <option>Select</option>
                        <option>Select 1</option>
                        <option>Select 2</option>
                        <option>Select 3</option>
                        <option>Select 4</option>
                    </select>
                  </div>
              </div>
              <div class="half-left row">
                   <div class="form-group col-sm-6">
                    <label>City <span class="text-red-lt">*</span></label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="form-group col-sm-6">
                    <label>Your Main Interest <span class="text-red-lt">*</span></label>
                    <select class="form-control">
                        <option>Select</option>
                        <option>Select 1</option>
                        <option>Select 2</option>
                        <option>Select 3</option>
                        <option>Select 4</option>
                    </select>
                  </div>
              </div>
              <div class="space30"></div>
              <div class="form-group">
                  <label>Type your message<span class="text-red">*</span></label>
                  <textarea class="form-control" rows="8"></textarea>
              </div>
              <div class="space15"></div>
              <div class="btnwrap text-right">
                <input type="submit" class="btn-red" value="send">
              </div>
            </form>
        </div><!-- /f-contact -->
        
        <div class="or-line"><span>or</span></div>
        <div class="ct-emial"><p>You can also email us directly at <a href="#" class="text-red ft-semi-bold">support@explosivegambling.com</a></p></div>
       <div class="other-contact">
            <h5>Customer Support</h5>
            <p>Email us at <a href="#" class="text-red ft-semi-bold">support@explosivegambling.com</a> or visit our support forums.</p>
        </div><!-- //other-contact -->

        <div class="other-contact">
            <h5>Media Inquiries</h5>
            <p>Email us at <a href="#" class="text-red ft-semi-bold">support@explosivegambling.com</a> </p>
        </div><!-- //other-contact -->

        <div class="row other-contctList">
            <div class="other-contact col-sm-3">
                <h5>Locations</h5>
                <p>Global - Map<br><br>
                    989 Market St. Ste. 300<br>
                    San Francisco, CA 94103<br>
                    888-670-4887<br>
                    +1 (415) 418 7506<br>
                    Fax: 415-778-9355<br>
                </p>
            </div>
            <div class="other-contact col-sm-3">
                <h5>Copenhagen - Map</h5>
                <p>Flæsketorvet 68<br>1711 København V <br>+45 7877 3600</p>
            </div>
            <div class="other-contact col-sm-3">
                <h5>Copenhagen - Map</h5>
                 <p>Flæsketorvet 68<br>1711 København V <br>+45 7877 3600</p>
            </div>
        </div><!--  other-contctList -->
    </div> <!-- //contact-wrap -->
    <div class="space60"></div>
    <section class="subscribe">
        <div class="container">
            <h2><strong class="text-red">subscribe</strong> <span>for latest info</span></h2>
            <div class="f-subscribe">
                <form  autocomplete="on"> 
                    <input type="text" name="" placeholder="your email address here" class="form-control">
                    <!-- <input type="submit" class="btn-plus" value=""> -->
                </form>
            </div>
        </div>
    </section><!-- //subscribe -->
</div> <!-- //MAIN -->
  