{{> intro}}
<div id="main" role="main" >
	<div class="container">
		<div class="opportunity">   
           
            <div class="row">
                <figure class="oppor-thumb">
                    <img src="assets/img/people.png" alt="">
                </figure>
                <div class="oppor-desc">
                    <header class="title-md"> 
                        <div class="inside">
                            <span class="small-lt">win opportunity with</span>
                            <h2><span class="black">CROWD</span><br><span class="red">GAMBLING</span></h2>
                            <span class="xs-lt">the very first from all</span>
                        </div>
                    </header>
                    <div class="content-text">
                        <p>We invite you to explore the rich opportunities available as a WorldVentures Independent Representative. Through our direct-selling model, WorldVentures provides you with everything you need to market and sell vacation and entertainment memberships and other related products and services. You can work full or part time—<strong class="text-strong">from home or anywhere in the world.</strong></p>
                    </div>
                </div>
                 <figure class="oppor-circle wow slideInRight" data-wow-duration="2s" data-wow-delay="1s"><img src="assets/img/hope-trg.png" alt=""></figure>   
            </div>
        </div><!-- //opportunity -->


        <div class="build-oppor">
             <header class="title-md text-center withLine"> 
                <div class="whitespace">
                    <span class="small-bd">buid your opportunity</span>
                    <h2><span class="black">crowd</span><span class="red">gambling</span></h2>
                </div>
            </header>
            <div class="main-redCard">
                {{~#redCard}}
                    <div class="red-card {{position}} {{id}} {{slide}}" data-wow-duration="2s" data-wow-delay="1s">
                        <span class="as-icon"><img src="assets/{{iconas}}" alt=""></span>
                        <figure>
                            <img src="assets/{{thumb}}" alt="">
                        </figure>
                        <h3>{{{title}}}</h3>
                        <div class="content-text"><p>{{desc}}<p></div>
                    </div><!-- //red-card -->
                {{~/redCard}}
            </div>
        </div><!-- //build-oppor -->
    </div>

    <div class="withdraw">
        <div class="container">
            <div class="withdraw-text">
                <h2>Instant deposits <span>and withdrawals</span></h2>
                <div class="content-text">
                    <p>Trustly not only supports real time deposits but also instant withdrawals for users. Our revolutionary new product, Payout Express, allows fast payouts throughout the entire Eurozone.</p>
                </div>
            </div>
            <div class="get-started">
                <a href="#">
                    <img src="assets/img/get-started.png" alt="">
                    <span>get started</span>
                </a>
            </div><!-- //get-started -->
        </div>

        <div class="balls">
            <ul class="balls-left">
                <li class="ball-left1"><img src="assets/img/ball_35.png" alt=""></li>
                <li class="ball-left2"><img src="assets/img/ball_3.png" alt=""></li>
                <li class="ball-left3"><img src="assets/img/ball_21.png" alt=""></li>
            </ul>
            <ul class="balls-right">
                <li  class="ball-right1"><img src="assets/img/ball_7.png" alt=""></li>
                <li class="ball-right2"><img src="assets/img/ball_14.png" alt=""></li>  
                <li class="ball-right3"><img src="assets/img/ball_27.png" alt=""></li>
            </ul>
        </div><!-- /balls -->
    </div>

     <div class="network-wrap bg-grey">
        <div class="container">
            <header class="title-centerLine">
                <h5>the</h5>
                <h3>CROWD GAMBLING</h3>
                <h2 class="text-red">Network</h2>
            </header>
            <div class="network row">
                <ul>
                    {{~#network}}
                        <li class="network-item">
                            <a href="#">
                                <figure><img src="assets/img/{{thumb}}"></figure>
                                <div class="desc">
                                    <h3>{{title}}</h3>
                                    <div class="contnet-text"><p>{{desc}}</p></div>
                                </div>
                            </a>
                        </li>
                    {{~/network}}
                </ul>
            </div>
            <article class="hanging-testi">
                <p>Opportunity is missed by most people because it is dressed in overalls and looks like work.</p>
                <span class="testi-by">Thomas A. Edison</span>
            </article><!-- //network-testi -->
        </div>
    </div><!-- //network-wrap -->


    <section class="intro-middle">
        <div class="container">
            <article class="intro-middle-desc">
                <h5>when you</h5>
                <h2>gonna move ?</h2>
            </article>
        </div>
    </section><!-- //intro-middle -->

    <div class="winning-lotery">
        <div class="container">
            <div class="expo-icon">
                <figure class="wow bounceInDown" data-wow-duration="1s" data-wow-delay="0s"><img src="assets/img/explosive.png" alt=""></figure>
            </div>
             <article class="hanging-testi">
                <p>Opportunity is missed by most people because it is dressed in overalls and looks like work.</p>
                <span class="testi-by">Thomas A. Edison</span>
            </article><!-- //network-testi -->

            <div class="ball2">
                <figure class="wow bounceInDown" data-wow-duration="1s" data-wow-delay="1s"><img src="assets/img/ball-group.png" alt=""></figure>
            </div>
         
             <header class="title-centerLine">
                <h5>the</h5>
                <h3>winning lottery</h3>
                <h2 class="text-red">ticket</h2>
            </header>

            <div class="wiNumber">
                <h3>winning chance</h3>
                <div class="circle">
                    <p>70<sup>%</sup></p>
                </div>
            </div>

            <div class="buyticket">
                <div class="inside">
                    <h2 class="buyticket-title">Instant deposits <span>and withdrawals</span></h2>
                    <div class="buyticket-text">
                        <p>Trustly not only supports real time deposits but also instant withdrawals for users. Our revolutionary new product, Payout Express, allows fast payouts throughout the entire Eurozone.</p>
                    </div>
                    <figure><img src="assets/img/people1.png" alt=""></figure>
                    <div class="buyticket-btn">
                        <a href="#" class="btn-md-red">buy the ticket now</a>
                    </div>
                </div>
            </div> <!-- //buyticket -->
        </div>
    </div><!-- //winning-lotery -->

    <section class="the-winner">
        <div class="container">
            <header class="title-center">
                <h5 class="text-white">see how they win</h5>
                <h2 class="text-white">the <span class="text-red">winners</span></h2>
            </header>
            <ul class=="winners row">
                {{~#winner}}
                    <li class="winner-item winItem {{slide}}" data-wow-duration="2s" data-wow-delay="{{delay}}">
                        <div class="inside">
                             <figure><img src="assets/img/{{thumb}}"></figure>
                             <div class="desc">
                                <header>
                                    <h3>{{title}}</h3>
                                    <p class="date">{{date}}</p>
                                </header>
                                <div class="content-text toggleDesc">
                                    <p>{{desc}}</p>
                                </div>
                             </div>
                         </div>
                    </li>
                {{~/winner}}
            </ul>
        </div>
    </section><!-- //the-winner -->

    <section class="back-office">
        <div class="container">
            <header class="title-center">
                <h5>latest info from</h5>
                <h2>back office</h2>
            </header>
            <div class="bo-posterwrap">

                <ul class="bxslider">
                    <li class="boSide-item">
                        <div class="bo-poster">
                            <figure>
                                <img src="assets/img/thumb_bcoffice.jpg" alt="">
                            </figure>
                            <div class="poster-desc">
                                <h2 class="poster-title">senaste <span>numret<span></h2>
                                <article class="description">
                                    <span class="poster-date">no.1/2015</span>
                                    <h4>Bläddra i vår <span>digitala tidning</span></h4>
                                    <div class="content-text">
                                        <p>Judisk Krönikas ambition är att vara en del av den svenska kulturen och samtidigt slå vakt om ett specifikt inslag – det judiska. På det sättet är Judisk Krönika unik bland minoritetsorgan och kan ses som en förebild för andra minoritetsgrupper i det mångkulturella Sverige. Judisk Krönika förespråkar en integration utan assimilation av en minoritetsgrupp som värnar om sin kulturella särart och samtidigt vill fungera som en del av det svenska samhället.</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="bo-poster">
                            <figure>
                                <img src="assets/img/thumb_bcoffice.jpg" alt="">
                            </figure>
                            <div class="poster-desc">
                                <h2 class="poster-title">senaste <span>numret<span></h2>
                                <article class="description">
                                    <span class="poster-date">no.1/2015</span>
                                    <h4>Bläddra i vår <span>digitala tidning</span></h4>
                                    <div class="content-text">
                                        <p>Judisk Krönikas ambition är att vara en del av den svenska kulturen och samtidigt slå vakt om ett specifikt inslag – det judiska. På det sättet är Judisk Krönika unik bland minoritetsorgan och kan ses som en förebild</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </li>
                    <li><div class="bo-poster">
                            <figure>
                                <img src="assets/img/thumb_bcoffice.jpg" alt="">
                            </figure>
                            <div class="poster-desc">
                                <h2 class="poster-title">senaste <span>numret<span></h2>
                                <article class="description">
                                    <span class="poster-date">no.1/2015</span>
                                    <h4>Bläddra i vår <span>digitala tidning</span></h4>
                                    <div class="content-text">
                                        <p>JAndra minoritetsgrupper i det mångkulturella Sverige. Judisk Krönika förespråkar en integration utan assimilation av en minoritetsgrupp som värnar om sin kulturella särart och samtidigt vill fungera som en del av det svenska samhället.</p>
                                    </div>
                                </article>
                            </div>
                        </div></li>
                    <li>
                        <div class="bo-poster">
                            <figure>
                                <img src="assets/img/thumb_bcoffice.jpg" alt="">
                            </figure>
                            <div class="poster-desc">
                                <h2 class="poster-title">senaste <span>numret<span></h2>
                                <article class="description">
                                    <span class="poster-date">no.1/2015</span>
                                    <h4>Bläddra i vår <span>digitala tidning</span></h4>
                                    <div class="content-text">
                                        <p>Judisk Krönika förespråkar en integration utan assimilation av en minoritetsgrupp som värnar om sin kulturella särart och samtidigt vill fungera som en del av det svenska samhället.</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="rightside">
                <div class="bo-thumblands">
                    <div class="post-galleryItem">
                        <div class="inside">
                            <figure>
                                <img src="assets/img/thumb_bcoffice2.jpg" alt="">
                            </figure>
                            <div class="desc">
                               <span class="date">Edition No.2/2007</span>
                               <h3>Judisk Krönikas ambition är att vara en del</h3>
                               <span class="author">By John Doe</span>
                               <div class="content-text">
                                   <p>Judisk Krönikas ambition är att vara en del av den svenska kulturen och </p>
                               </div>
                               <a href="#" class="remore-arr">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="bo-potrait row">
                    <li class="post-galleryItem wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                       <div class="inside">
                           <figure>
                               <img src="assets/img/thumb_bcoffice3.jpg" alt="">
                           </figure> 
                           <div class="desc">
                               <span class="date">Edition No.2/2007</span>
                               <h3>Judisk Krönika är en av Sveriges</h3>
                               <div class="content-text">
                                   <p>Judisk Krönikas ambition är att vara en del av den svenska kulturen och 7</p>
                               </div>
                               <a href="#" class="remore-arr">Read More</a>
                           </div>
                       </div>
                    </li>
                    <li class="post-galleryItem wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s"> 
                       <div class="inside">
                           <figure>
                               <img src="assets/img/thumb_bcoffice3.jpg" alt="">
                           </figure> 
                           <div class="desc">
                               <span class="date">Edition No.2/2007</span>
                               <h3>Judisk Krönika är en av Sveriges</h3>
                               <div class="content-text">
                                   <p>Judisk Krönikas ambition är att vara en del av den svenska kulturen och </p>
                               </div>
                               <a href="#" class="remore-arr">Read More</a>
                           </div>
                       </div>
                    </li>
                </ul>
            </div><!-- //rightside -->  
        </div>
    </section><!-- //back-office -->

    <section class="subscribe">
        <div class="container">
            <h2>subscribe <span>for latest info</span></h2>
            <div class="f-subscribe wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                <form  autocomplete="on"> 
                    <input type="text" name="" placeholder="your email address here" class="form-control">
                    <!-- <input type="submit" class="btn-plus" value=""> -->
                </form>
            </div>
        </div>
    </section>
</div> <!-- //MAIN -->
  