/** BUTTONS
===================================*/
.btn-md-green{
	@include btn-base();
	background-color: $green-color;
	color: white;
	padding: 13px 25px;
	font: 16px 'proximanova-bold';
	@include border-radius(10em);
	text-transform: uppercase;
	position: relative;
	z-index: 10;
	overflow: hidden;
	@include prefixed(transition, all 0.3s linear);
	@media screen and (min-width: 48em){
		@include min-width(280px);
		font-size: 24px;
	}

	&:before{
		content: '';
		@include size(0%, 100%);
		background-color: $base-color;
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		top: 0;
		margin: auto;
		@include prefixed(transition, width 0.5s ease);
		@include border-radius(10em);
	}
	&:hover{
		background-color: $green-color;
		color: white;

		&:before{
			width: 100%;
		}
	}
}

.btn-md-red{
	@extend .btn-md-green;
	background-color: $base-color;
}

.btn-red{
	@include btn-base();
	background-color: $base-color;
	color: white;
	padding: 13px 25px;
	font: 14px 'proximanova-bold';
	@include border-radius(10em);
	text-transform: uppercase;
	position: relative;
	z-index: 10;
	overflow: hidden;
	min-width: 210px;
	@include prefixed(transition, all 0.3s ease-in);

	
	&:hover{
		color: white;
		text-decoration: none;
		background-color: $green-color;

	}
}

.btn-border{
	@include btn-base();
	background-color: white;
	color: $base-color;
	padding: 12px 20px;
	font: 18px 'proximanova-bold';
	@include border-radius(10em);
	text-transform: uppercase;
	position: relative;
	z-index: 10;
	overflow: hidden;
	min-width: 210px;
	border: 2px solid $base-color;
	@include prefixed(transition, all 0.3s ease-in);

	
	&:hover{
		color: white;
		text-decoration: none;
		background-color: $base-color;

	}
}

.link-red{
	@include inline-block();
	color: $base-color;
	text-decoration: underline;
	font: 14px 'future-md';
	text-transform: uppercase;
	&:hover{
		color: $green-color;
	}
}