/** CONTACT
===================================*/

.or-line{
	font: 14px "future-bold";
	text-align: center;
	position: relative;
	z-index: 10;
	margin: 15px 0;
	@media screen and (min-width: 62em){
		height: 20px;
	}
	&:before{
		content: '';
		position: absolute;
		z-index: -1;
		top: 48%;
		left: 0;
		@include size(100%, 1px);
		background-color: #e4e8eb;
	}
	span{
		@include inline-block();
		background-color: white;
		padding: 0 10px;
		@media screen and (min-width: 62em){
			position: absolute;
			z-index: 1;
			right: 300px;
			left: auto;
			top: 0;
		}
	}
}

@media screen and (max-width: 48em){
	.f-contact .btnwrap{
		text-align: center !important; 
	}
}
.ct-emial{
	text-align: center;
	margin-bottom: 30px;
	@media screen and (min-width: 48em){
		text-align: right;
		margin-bottom: 0;
	}
}

.other-contact{
	font-size: 0.9em;
	margin-bottom: 25px;
	h5{
		margin: 0;
		margin-bottom: 4px;
		font: 14px "future-bold";
	}
}

.other-contctList{
	.other-contact{
		margin-bottom: 20px;
	}
}