/** FOOTER
===================================*/
#footer{
	background-color: black;
	overflow: hidden;
	color : white;
}
.foo-top{
	background-color: #252728;
	color: white;
	padding: 60px 0;
}
.lefside{
	@media screen and (min-width: 40em){
		float: left;
	}
}

.foomenu-item{
	@include inline-block();
	width: 100%;
	padding: 0 15px; 
	vertical-align: top;
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid lighten(#252728, 15%);;
	@media screen and (min-width: 32em){
		width: 48%;
		padding-bottom: 0;
		border: none;
	}

	@media screen and (min-width: 62em){
		width: 33%;
	}

	@media screen and (min-width: 72em){
		width: 16%;
	}

	ul{
		li{
			display: block;
			margin-bottom: 5px;
			a{
				color: white;
				display: block;
				font-size: 0.9em;
				@include prefixed(transition, all 0.3s linear);

				&:hover{
					color: #77797b;
					text-decoration: none;
				}
			}
		}
	}

	h4{
		margin: 0;
		margin-bottom: 10px;
		font: 18px 'proximanova-bold';

	}
}

.foo-topBtm{
	padding-top: 20px 0;
	text-transform: uppercase;
	font-size: 0.8em;

	@media screen and (min-width: 32em){
		border-top: 1px solid lighten(#252728, 15%);
		padding-top: 20px;
		margin-top: 40px;
	}

	.copyright{
		text-align: center;
		@media screen and (min-width: 40em){
			@include inline-block();
			margin-right: 15px;
			text-align: left;
		}
	}

	.term-privacy{
		
		@media screen and (min-width: 40em){
			@include inline-block();
		}
		li{
			@include inline-block();
			&:first-child{
				margin-right: 8px;
			}
			a{
				font-family:'proximanova-bold';
				color: white;
				&:hover{
					color: #77797b;
					text-decoration: none;
				}
			}
		}
	}
}


/*====== FOOTER SOCIAL ======*/
.foo-social{
	text-align: center;
	margin: 20px 0;
	@media screen and (min-width: 40em){
		float: right;
		text-align: right;
		margin: 0;
	}

	a{
		@include inline-block();
		@include border-radius(100%);
		@include square(22px);
		text-align: center;
		line-height: 23px;
		background-color: white;
		color: #2b2e2f;
		margin-left: 3px;
		-webkit-transition: -webkit-transform .8s ease-in-out;
		-ms-transition: -ms-transform .8s ease-in-out;
		transition: transform .8s ease-in-out;
		&:hover{
			background-color: $base-color;
			color:white;
			text-decoration: none;
			transform:rotate(360deg);
			-ms-transform:rotate(360deg);
			-webkit-transform:rotate(360deg);

		}
	}
}

/*====== FOOTER BOTTOM ======*/
.foo-bottom{
	background-color:  $shark-color;
	@include clearfix();
}

.foo-btm-desc{
	overflow: hidden;
	padding: 30px;
	color: #899092;
	figure{
		margin: 0 auto 20px;
		width: 119px;
		@media screen and (min-width: 42em){
			float: left;
			margin: 0;
			margin-right: 40px;
			margin-top: 6px;
		}
	}
	.content-text{
		overflow: hidden;
		text-align: center;
		line-height: 1.2em;
		font-size: 0.9em;
		@media screen and (min-width: 42em){
			max-width: 830px;
			text-align: left;
		}
	}
}
