body{
	background: $body-bg;
	font: $font-size $primary-font;
	line-height: 1.5em;
	color: $text-color;
	font-weight: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;	
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}
*:focus, *:active{
	outline: none;
}
a{
	@include prefixed(transition, all 0.3s linear);
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/** WRAPPER and For Responsive nav To work properly
===================================*/
.wrapper{
	width: 100%;
	position: relative;
	@include clearfix();
	.wrapper-inner{
		transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
		position: relative;
		width: 100%;
		display: block;
		margin-right: 0;
	}
	.mask-wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba( black, .15 );
		z-index: -1;
		opacity: 0;
		transition: all 350ms ease;
	}
	.wrapper-active{
		margin-right: -60%;
		float: right;
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
	}
	.on-active-right{
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
	}
}

@media (min-width: 1430px){
	.container{
		width: 1400px;
	}
}

@media (min-width : 1680px) {
	.container{
		  width: 1620px;
	}
}


/** TYPO AND TITLE
===================================*/
.title-md{
	text-transform: uppercase;
	margin-bottom: 30px;
	position: relative;
	z-index: 10;

	&.withLine{
		&:before{
			content:'';
			position: absolute;
			z-index: -1;
			left: 0;
			top: 68%;
			height: 1px;
			width: 100%;
			background-color: #d9d9d9;
		}
	}
	.inside{
		text-align: center;
		@media screen and (min-width: 48em){
			@include inline-block();
			text-align: left;
		}
	}
	.small-lt{
		font: 19px "proximanova-light";
		color: #000000;
		line-height: 1em;
	}
	h2{
		margin: 0;
		font: 30px "future-md";
		line-height: 1em;
		color: $base-color;
		font-weight: normal;
		@media screen and (min-width: 48em){
			font-size: 60px;
			line-height: 0.9em;
		}

		&.font70{
			font-size: 40px;
			@media screen and (min-width: 48em){
				font-size: 70px;
			}
			
		}

		.black{
			color: black;
		}

		.black-md{
			font: 28px 'future-md';
			color: black;
			@media screen and (min-width: 48em){
				font-size: 36px;
			}
			
		}
	}
	.xs-lt{
		font: 14px "proximanova-light";
		@media screen and (min-width: 48em){
			text-align: right;
		}
		display: block;
	}

	.small-bd{
		font : 38px "proximanova-bold";
		display: block;
	}

	.whitespace{
		/*padding: 10px 30px;*/
		@include inline-block();
		&:before{
			content:'';
			position: absolute;
			z-index: -1;
		    height: 5px;
		    width: 49%;
		    left: 0;
			top: 68%;
			right: 0;
			margin: auto;
			background-color: white;
		}
	}
}
.title-centerLine{
	text-align: center;
	padding-bottom: 25px;
	margin-bottom: 30px;
	@media screen and (min-width: 62em){
		margin-bottom: 80px;
	}
	position: relative;
	z-index: 10;
	text-transform: uppercase;
	h5, h3, h2{
		font-weight: normal;
		margin: 0;
		line-height: 1em;
		font-family: 'future-md';
	}
	h5{
		font-size: 20px;
		@media screen and (min-width: 62em){
			font-size: 24px;
		}
	}
	h3{
		font-size: 30px;
		@media screen and (min-width: 62em){
			font-size: 38px;
		}
	}

	h2{
		font-size: 48px;
		@media screen and (min-width: 62em){
			font-size: 75px;
		}
	}
	&:after{
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		margin: auto;
		bottom: 0;
		height: 2px;
		width: 15%;
		background: #cccccc;
	}
}
.title-center{
	text-align: center;
	margin-bottom: 30px;
	text-transform: uppercase;
	color: black;
	@media screen and (min-width: 62em){
		margin-bottom: 80px;
	}
	h5, h3, h2{
		font-weight: normal;
		margin: 0;
		line-height: 1em;
		font-family: 'future-md';
	}
	h5{
		font-size: 20px;
		@media screen and (min-width: 62em){
			font-size: 24px;
		}
		
	}
	h2{
		font-size: 42px;
		@media screen and (min-width: 62em){
			font-size: 60px;
		}
	}
}

.title-main{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
	h2{
		font-weight: normal;
		margin: 0;
		line-height: 0.9em;
		font: 30px 'future-md';
		@media screen and (min-width: 48em){
			font-size: 58px;
		}
	}

	small{
			display: block;
			font: 14px "proximanova-light";
		}
}

.title-article{
	margin: 0;
	margin-bottom: 30px;
	font: 25px 'future-md';
	text-transform: uppercase;
	text-align: center;
	@media screen and (min-width: 30px){
		font-size: 36px;
	}
}
.text-strong{
	font-family: 'proximanova-bold';
}
.text-red{
	color: $base-color;
}
.text-red-lt{
	color: lighten($base-color, 15%);
}
.text-white{
	color: white;
}
.ft-semi-bold{
	font-family: "future-md";
}

.bg-grey{
	background-color: $grey-color;
}


.hanging-testi{
 	font: 16px 'Georgia', arial;
 	font-style: italic;
 	border-left: 2px solid $base-color;
 	padding-left: 18px;
    padding-bottom: 25px;
    @media screen and (min-width: 48em){
		max-width: 400px;
	}
 	.testi-by{
 		font-family: "proximanova-bold";
 		font-style: italic;
 		color: $base-color;
 	}
 }

/** SPACE
===================================*/
$spacer:
	( space15, 15px),
	( space20, 20px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}