#header{
	padding: 20px 0;
	@include clearfix();
	background: black;

	&.headerFixed{
		@include size(100%, auto);
		@media screen and (min-width: 62em){
			position: absolute;
			top: 0;
			left: 0;
		}	
	}
	figure{
		max-width: 180px;
		overflow: hidden;
		margin: 0 auto 18px; 
		@media screen and (min-width: 62em){
			margin: 0;
		}
	}

	@media screen and (min-width: 62em){
		background: transparent;
	}
}

#logo{
	font: 35px "future-bold";
	color: $base-color;
	text-transform: uppercase;
	line-height: 1em;
	@include make-md-column(4);

	h1{
		line-height: 1em;
		margin: 0;
	}
	p{
		color: #ffffff;
		font: 22px "proximanova-semibold";
	}
	a{
		color: $base-color;

		&:hover{
			text-decoration: none;
			color: $base-color;
		}
	}
}

.head-right{
	@include make-md-column(8);
	@media screen and (min-width: 62em){
		text-align: right;
		margin-top: 23px;
	}
}

.dd-language{
	float: right;
	.btn-default{
		background: transparent;
		border: 1px solid white;
		@include border-radius(25px);
		color: white;
		padding-right: 15px;
		padding-left: 15px;
		text-align: left;
		min-width: 88px;
		text-align: left;
	}

	.btn-group.open .dropdown-toggle{
		@include box-shadow(none);
		background: $base-color;
		color: white;
		border-color: $base-color;
	}

	.caret{
		position: absolute;
		top: 13px;
		right: 12px;
	}

	.dropdown-menu{
		left: auto;
		right: 0;
		background: rgba($base-color, 0.6);
		> li > a{
			color: white;
			&:hover{
				color: white;
				background: darken($base-color, 8%); 
			}
		}
	}
}