/** OPPORTUNITY
===================================*/
.opportunity{
	position: relative;
	z-index: 10;
	@include clearfix();
}
.oppor-thumb{
	display: none;
	@include make-md-column(6);
	@media screen and (min-width: 62em){
		margin-right: -200px;
		display: block;
	}
	img{
		margin-top: -25px;
		margin-left: -65px;
	}
}
.oppor-desc{
	overflow: hidden;
	position: relative;
	z-index: 1;
	padding-left: 1.8em;
	padding-top: 30px;
	&:before{
		content:'';
		position: absolute;
		left: 0;
		top: 0;
		width: 1px;
		height: 70%;
		background-color: $base-color;
	}
}


.build-oppor{
	position: relative;
	z-index: 12;
	text-align: center;
	.title-md{
		@media screen and (min-width: 62em){
			/*margin-top: -90px;*/
			margin-bottom: 60px;
		}
	}
}
.oppor-circle{
	@include size(272px, 280px);
	margin: 15px  auto;
	@media screen and (min-width: 48em){
		position: absolute;
		right: 0;
		top: -28%;
	}
}

.main-redCard{
	position: relative;
	z-index: 10;
	margin-left: -15px;
	margin-right: -15px;
	&:before{
		content: '';
		position: absolute;
	    left: 0;
	    right: 0;
	    top: 125px;
	    z-index: -1;
	    border: 1px solid red;
	    @include size(88%, 495px);
	    display: none;
	    margin: auto;
		@media screen and (min-width: 63em){
			display: block;
		}
		
	}
}
.red-card{
	@include border-radius(5px);
	max-width: 350px;
	padding: 27px 30px;
	overflow: hidden;
	background-color: $base-color;
	position: relative;
	z-index: 10;
	color: white;
	@include inline-block();
	vertical-align: top;
	text-align: left;
	margin: 0 15px 20px;
	@include prefixed(transition, all 0.5s linear);

	@media screen and (max-width: 48em){
		margin-right: 5px;
		margin-left: 5px;
		margin-bottom: 20px;
	}

	&.center{
		
		@media screen and (max-width: 73em){
			margin-top: 0 !important;
		}
	}

		&:before{
			content: '';
			position: absolute;
			z-index: -1;
			width: 92%;
			height: 93%;
			@include border-radius(3px);
			margin: auto;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			border: 1px solid lighten($base-color, 15%);
		}

	.as-icon{
		@include size(41px, auto);
		position: absolute;
		left: 30px;
		top: 30px;
	}
	figure{
		@include size(252px, auto);
		margin: 20% auto 10%;
		@include border-radius(100%);
		overflow: hidden;
		text-align: center;
		img{
			@include border-radius(100%);
		}
	}

	h3{
		font-size: 25px;
		line-height: 1em;
		font-weight: normal;
		font-family: 'proximanova-regular';
		text-transform: uppercase;
		position: relative;
		padding-bottom: 18px;
		margin: 0;
		margin-bottom: 20px;
		@media screen and (min-width: 48em){
			font-size: 30px;
			line-height: 0.8em
		}

		&:before{
			content: '';
			position: absolute;
			@include size(40%, 5px);
			left: 0;
			bottom: 0;
			background-color: white;
		}
	}
	.content-text{
		line-height: 1.3em;
	}
 }


 /*====== WITHDRAW ======*/
 .withdraw{
 	position: relative;
 	z-index: 10;
 	padding-top: 6%;
 	@media screen and (min-width: 62em){
 		padding-top: 8%;
 	}
 	
 	&:before{
 		content: '';
 		position: absolute;
 		z-index: -1;
 		left: 0;
 		right: 0;
 		top: 0;
 		bottom: auto;
 		margin: auto;
 		@include size(2px, 98%);
 		background-color: $base-color;
 	}
 }

 .withdraw-text{
 	max-width: 400px;
 	margin: 0 auto 40px;
 	text-align: center;
 	background-color: white;
 	padding: 15px 20px;
 	h2{
 		margin: 0;
 		margin-bottom: 17px;
 		text-transform: uppercase;
 		font: 26px 'proximanova-bold';
 		@media screen and (min-width: 48em){
 			font-size: 29px;
 		}
 	}
 }

 .get-started{
 	width: 264px;
 	overflow: hidden;
 	text-align: center;
 	margin: 0 auto;
 	color: white;
 	position: relative;

 	span{
 		text-align: center;
 		display: block;
 		font: 24px 'proximanova-bold';
 		color: white;
 		text-transform: uppercase;
 		text-shadow:  0 1px 1px rgba(0, 0, 0, 0.71);
 		position: absolute;
 		bottom: 63px;
 		top:auto;
 		left: 0;
 		right: auto;
 		width: 100%;
 	}
 }

 /** BALLS
 ===================================*/
 .balls{
 	display: none;
 	@include clearfix();
 	position: absolute;
 	z-index: -1;
 	left: 0;
 	right: 0;
 	bottom: -20px;
 	margin: auto;
 	max-width: 1400px;
 	@media screen and (min-width: 62em){
 		display: block;
 	}
 	ul{
 		li{
 			@include inline-block();
 			position: relative;
 			&.ball-left1{
 				max-width: 279px;
 				z-index: 10;	
 			}
 			&.ball-left2{
 				max-width: 151px;
				margin-top: 190px;
				margin-left: -20px;
				z-index: 9;
 			}
 			&.ball-left3{
 				max-width: 96px;
 				z-index: 8;
				margin-left: -20px;
				margin-top: -15px;
 			}
 			&.ball-right1{
 				max-width: 152px;
 				margin-top: 82px;
 				z-index: 9;
 			}
 			&.ball-right2{
 				max-width: 226px;
 				z-index: 10;
 				margin-left: -20px;
 				margin-top: 80px;

 			}
 			&.ball-right3{
 				max-width: 67px;
 				z-index: 8;
 				position: absolute;
 				top: 30px;
    			right: 0;
 			}
 		}

 		&.balls-left{
 			float: left;
 			position: relative;
 		}
 		&.balls-right{
 			float: right;
 			position: relative;
 			margin-right: 8%;
 		}
 	}
 }


 /*====== NETWORK ======*/
 .network-wrap{
 	@include clearfix();
 	padding: 40px 0;
 	position: relative;

 	@media screen and (min-width: 62em){
 		padding:60px 0 115px;
 	}
 	
 	.hanging-testi{
 		@media screen and (min-width: 62em){
 			position: absolute;
 			bottom: 0;
 			left: 50%;
 			margin-left: 140px;	
 		}
 		
 	}
 }

 .network{
 	ul{
 		li{
 			@include make-sm-column(6);
 		}
 	}
 }

 .network-item{
 	@include prefixed(transition, all 0.3s linear);
 	text-align: center;
 	@media screen and (min-width: 62em){
 		text-align: left;
 	}
 	margin-bottom: 48px;
 	 a{
 		color: $text-color;
 		@include prefixed(transition, all 0.3s linear);
 	}
 	figure{
 		width: 89px;
 		margin: 0 auto 20px;
 		@media screen and (min-width: 62em){
 			float: left;
 			margin: 0;
 			margin-right: 30px;
 		}
 	}
 	.desc{
 		overflow: hidden;
 		h3{
 			font: 24px 'proximanova-bold';
 			margin : 0;
 			margin-bottom: 12px;
 			line-height: 1em;
 			text-align: center;
 				@media screen and (min-width: 62em){
 					font-size: 30px;
 					text-align: left;
 				}

 		}
 	}
 	 &:hover{
 		a{
 			color: $base-color;
 			text-decoration: none;
 		}
 	}
 }


 /*====== BANNER MIDDLE ======*/
 .intro-middle{
 	background: black image-url('banner_middle.jpg') center center no-repeat;
 	@include background-size(cover);
 	background-attachment: fixed;
 	padding: 5% 0;
 }

 .intro-middle-desc{
 	color: white;
 	text-align: center;
 	margin: 0 auto;
 	padding: 6% 0;
 	h5{
 		margin: 0;
 		text-transform: uppercase;
 		font: 48px 'proximanova-light';
 		line-height: 0.9em;
 		font-weight: normal;
 		@media screen and (min-width: 48em){
 			font-size: 69px;
 		}
 	}
 	h2{
 		margin: 0;
 		font: 48px 'proximanova-bold';
 		line-height: 0.8em;
 		color: $base-color;
 		text-transform: uppercase;
 		font-weight: normal;
 		@media screen and (min-width: 48em){
 			font-size: 69px;
 		}
 	}
 }

 /*====== WINNING ======*/
 .winning-lotery{
 	position: relative;
 	z-index: 10;
 	padding-bottom: 9px;
 	background: transparent image-url('silhouette2.png') right bottom no-repeat;

 	&:after{
 		content: '';
 		position: absolute;
 		left: 0;
 		bottom: 0;
 		width: 100%;
 		height: 320px;
 		background: transparent image-url('silhouette1.png') left bottom no-repeat;
 	}
 	&:before{
		content: '';
		position: absolute;
		z-index: 2;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 100%;
		height: 95px;
		background: transparent image-url('ouval.jpg') center bottom no-repeat;
 	}
 	.container{
 		position: relative;
 		padding-top: 40px;
 		overflow: hidden;
 		z-index: 1;
 	}
 	.hanging-testi{
 		@media screen and (min-width: 62em){
			position: absolute;
			left: 235px;
			top: 0;
			padding-top: 20px;
			padding-bottom: 10px;
 		}
 		
 	}

 	.title-centerLine{
 		padding-top: 50px;
 	}
 }

 .expo-icon{
 	display: none;
 	width: 238px;
 	overflow: hidden;
 	position: absolute;
 	left: 0;
 	top: -40px;
 	padding-bottom: 40px;
 	@media screen and (min-width: 62em){
 		display: block;
 	}	
 }

 .ball2{
 	display: none;
 	position: absolute;
 	right: 0;
 	top: -30px;
 	width: 300px;
 	@media screen and (min-width: 62em){
 		display: block;
 	}	
 }

 .wiNumber{
 	text-align: center;
 	h3{
 		margin: 0;
 		font: 18px "future-md";
 		text-transform: uppercase;
 		margin-bottom: 25px;
 	}

 	.circle{
 		@include square(250px);
 		margin: 0 auto;
 		overflow: hidden;
 		@include border-radius(100%);
 		border: 1px solid  $base-color;
 		&:before {
			  content: '';
			  display: inline-block;
			  height: 100%;
			  vertical-align: middle;
			  margin-right: -0.25em; /* Adjusts for spacing */
			}
 		@media screen and (min-width: 32em){
 			@include square(297px);
 		}

 		p{
 			line-height: 1em;
 			font-size: 100px;
 			font-family: "future-md";
 			color: $base-color;
 			 display: inline-block;
  			vertical-align: middle;
 			sup{
 				font-size: 40px;
 				top: -2em;
 			}
 			@media screen and (min-width: 32em){
 				font-size: 150px;	
 			}
 			
 		}
 	}
 }


.buyticket{
	position: relative;
	z-index: 10;
	padding-top: 50px;
	text-align: center;
	&:before{
		content: '';
		width: 1px;
		height: 80%;
		background-color: $base-color;
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		right: 0;
		bottom: auto;
		margin: auto;
	}

	.inside{
		position: relative;
		z-index: 1;
		@include inline-block();
	}
	figure{
		margin: 0 auto;
		max-width: 470px;
		overflow: hidden;
	}
}
.buyticket-title{
	@media screen and (min-width: 62em){
		position: absolute;
		left : 50%;
		margin-left: -410px;
		top: 20px;
		text-align: left;
		background-color: transparent;
	}

	margin: 0;
	margin-bottom: 17px;
	text-transform: uppercase;
	font: 30px 'proximanova-bold';
	line-height: 0.9em;
	color: $base-color;
	text-align: right;
	@inlude inline-block();
	background-color: white;
	text-align: center;
	@media screen and (min-width: 48em){
		font-size: 43px;
	}
	span{
		display: block;
		color: black;
		font: 30px 'proximanova-regular';
	}
}

.buyticket-text{
	text-align: center;
	background-color: white;
	@media screen and (min-width: 62em){
		position: absolute;
		left: 50%;
		margin-left: 117px;
		top: 22px;
		line-height: 1.3em;
		width: 365px;	
		text-align: left;
		background-color: transparent;
	}

}

.buyticket-btn{
	text-align: center;
	padding-bottom: 50px;
	margin: auto;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 10;
	@media screen and (min-width: 48em){
		padding-bottom: 100px;	
	}
	&:before{
		content: '';
		position: absolute;
		z-index: -1;
		margin: auto;
		right: 0;
		left: 0;
		bottom : 0;
		width: 1px;
		height: 100%;
		background: $base-color;
	}
}

 /*====== THE WINNER ======*/
 .the-winner{
 	overflow: hidden;
 	background-color: $shark-color;
 	padding: 50px 0;
 	position: relative;
 	z-index: 9;
 	margin-top: -8px;
 	@media screen and (min-width: 62em){
 		padding: 100px 0;
 	}
 }

.winners{
	text-align: center;
}
 .winner-item{
 	@include inline-block();
 	vertical-align: top;
 	width: 100%;
 	padding: 0 15px;
 	text-align: center;
 	@include prefixed(transition, all 0.3s linear);
 	&:hover{

 		.inside{
 			&:before{
 				height: 100%;
 			}
 			h3{
 				color: $text-color;
 			}
 			.date{
 				color: $base-color;
 			}
 		}
 	}
 	.inside{
 		background-color: transparent;
 		@include border-radius(5px);
 		padding: 20px 10px;
 		position: relative;
 		z-index: 10;
 		&:before{
 			content: '';
 			position: absolute;
 			left: 0;
 			top: 0;
 			z-index: -1;
 			@include size(100%, 0);
 			@include prefixed(transition, all 0.2s linear);
 			background-color: white;
 		}
 	}
 	@media screen and (min-width: 40em){
 		width: 48%;
 		.inside{
 			padding: 70px 25px 40px
 		}
 	}
 	@media screen and (min-width: 62em){
 		width: 33%;
 	}

 	figure{
 		overflow: hidden;
 		width: 200px;
 		margin: 0 auto 35px;
 		@include border-radius(100%);
 		text-align: center;
 		img{
 			@include border-radius(100%);
 		}
 		@media screen and (min-width: 48em){
 			width: 	252px;
 		}
 	}
 	.content-text{
 		font-size: 0.8em;
 		line-height: 1.3em;
 		display: none;
 		@include prefixed(transition, all 0.3s ease);
 	}

 	header{
 		h3{
 			margin: 0;
 			font: 24px 'proximanova-bold';
 			text-transform: uppercase;
 			line-height: 1em;
 			color: white;
 		}
 		.date{
 			font-size: 0.9em;
 			color: #fa2a00;
 		}
 	}
 }

 /*====== SUBSCRIBE ======*/
 .subscribe{
 	background-color:  $shark-color;
 	overflow: hidden;
 	color: white;
 	padding: 40px 0 55px;
 	@media screen and (min-width: 48em){
 		padding-top: 7%;
 	}
 	h2{
 		margin: 0;
 		margin-bottom: 38px;
 		font-weight: normal;
 		font: 37px 'proximanova-bold';
 		text-align: center;
 		text-transform: uppercase;
 		line-height: 0.9em;
 		span{
 			font-family: 'proximanova-light';
 		}
 		@media screen and (min-width: 62em){
 			font-size: 58px;
 		}
 	}
 }

/*====== FORM SUBSCRIBE ======*/

.f-subscribe{ 
    position: relative;
    max-width: 600px;
    z-index: 10;
    text-align: center;
    margin: 0 auto;
    input[type="text"].form-control {
      background: none;
      border: none;
      display: inline-block;
      color: white;
      font-size: 24px;
      padding-right: 30px;
      padding-left: 0;
      width: 0%;
      margin: 0 auto;
      position: relative;
      z-index: 3;
      cursor: pointer;
      @include border-radius(0);
       transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
      -moz-transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
      -webkit-transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
      background: transparent image-url('plus.png') right top no-repeat;
      @include background-size(24px);
      text-align: left;
      @include input-placeholder {
        color: #f8f8f8;
         text-transform: uppercase;
       }
      &:focus{
          @include box-shadow(none);
			width: 100%;
			z-index: 1;
			border-bottom: 2px solid #cccccc;
			cursor: text;
			background: none;
	      &:hover {
	          border-bottom: 1px solid #BBB;
	      }
      }
    }
    input[type="submit"]{
        @include prefixed(transition, opacity .4s ease);
        position: absolute;
        z-index: -1;
        right: 0;
        top: 20px;
    }
    input[type="submit"]:hover {
      opacity: 0.8;
    }
}


/** BACK OFFICE
===================================*/
.back-office{
	background-color: #f3f3f3;
	@include clearfix();
	padding: 50px 0;
	@media screen and (min-width: 48em){
		padding: 50px;
	}

	.rightside, .bo-posterwrap{
		@include make-md-column(6);
	}
}

.boSide-item{
	text-align: center;
}

.bo-poster{
	position: relative;
	color: white;
	text-align: left;
	@include inline-block();
	margin-bottom: 20px;

	.poster-desc{
		position: relative;
		background-color: black;
		padding: 20px;

		@media screen and (min-width: 48em){
			position: absolute;
			z-index: 10;
			left: 0;
			top: 0;
			@include square(100%);
			padding: 30px;
			background-color: transparent;
		}
		

	}

	.poster-title{
		margin: 0;
		margin-bottom: 20px;
		font-weight: 400;
		font : 30px 'proximanova-regular';
		line-height: 1em;
		position: relative;
		padding-bottom: 10px;
		color: white;
		text-transform: uppercase;
		span{
			font-size: 40px;
			display: block;
		}

		&:before{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 20%;
			height: 4px;
			background-color: white;
		}
	}

	.description{
		display: none;
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 0 30px 25px;
		@media screen and (min-width: 48em){
			display: block;
		}

		h4{
			font: 35px 'proximanova-bold';
			line-height: 1em;
			margin: 0;
			margin-bottom: 15px;
			text-transform: uppercase;
			span{
				display: block;
				font-size: 35px;
				line-height: 0.9em;
			}
			@media screen and (min-width: 48em){
				font-size: 48px;
				span{
					font-size: 28px;
				}
			}
		}

		.content-text{
			font-size: 0.9em;
			line-height: 1.3em;
		}
	}

	.poster-date{
		font-size: 24px;
		text-transform: uppercase;
		display: block;
	}
}

.bo-thumblands{
	.post-galleryItem{
		width: 99%;
		padding: 0;
		figure{
			@media screen and (min-width: 48em){
				float: left;
				margin-right: 20px;
				margin-bottom: 0;
			}
		}
	}
}

.post-galleryItem{
	@include inline-block();
	padding: 0 15px;
	margin-bottom: 15px;
	@media screen and (min-width: 41em) and (max-width: 62em){
		width: 48%;
	}

	&:hover{
		.inside{
			background-color: darken( #f3f3f3, 6%);
		}
	}
	.inside{
		background-color: white;
		overflow: hidden;
		@include prefixed(transition, all  0.3s ease-in);
	}
	figure{
		@media screen and (min-width: 62em){
			max-width: 250px;
		}
		
		overflow: hidden;
		margin-bottom: 8px;
		background-color: #EDEDED;
		text-align: center;
	}

	.desc{
		padding: 10px 15px 15px;
		.date{
			font-size: 14px;
		}

		h3{
			margin: 0;
			font: 23px 'proximanova-bold';
			line-height: 1em;
			margin-bottom: 13px;
			color: black;
		}
	}

	.remore-arr{
		color: black;
		font-size: 14px;
		@include inline-block();
		padding-right: 60px;
		background: transparent image-url('arrow.png') 92% center no-repeat;
		@include background-size(30px);
		@include prefixed(transiition, all 0.3s linear);
		&:hover{
			text-decoration: none;
			background-position: 100% center;
		}
	}

	@media screen and (min-width: 62em){
		width: 49%;
	}
}

/** SLIDER ADDITIONAL STYLE
===================================*/
.bx-wrapper{
	    background-color: #EDEDED;
}
.bx-prev, .bx-next{
	@include size(56px, 45px);
	background: none;	
	top: 0;
	right: 0;
	left: auto;

	&:hover{
		background-position: bottom left;
	}
} 
.bx-prev{
	background: image-url('arr-slide-lt.png') 0 0 no-repeat;
	margin-right: 60px;
}
.bx-next{
	background: image-url('arr-slide-rt.png') 0 0 no-repeat;
}



