/** INTRO
===================================*/
.intro{
	color: white;
	background: black image-url('banner.jpg')  center center no-repeat;
	@include background-size(cover);
	@include min-height(300px);
	background-attachment: fixed;
	padding: 14% 0 0;
}

.intro-text{
		max-width: 600px;
		margin:0 auto;
		padding: 3% 0;
		text-align: center;
		text-transform: uppercase;
		h1{
			font: 60px 'future-md';
			line-height: 0.8em;
			font-weight: normal;
			margin: 0;
			text-indent: -0.5em;
			@media screen and (min-width: 48em){
				font-size: 70px;
			}
			@media screen and (min-width: 62em){
				font-size: 108px;
			}
		}

		h2{
			font: 30px 'future-md';
			line-height: 0.9em;
			font-weight: normal;
			margin: 0;
			sup{
				font-size: 0.5em;
    			top: -0.8em;
			}
			@media screen and (min-width: 48em){
				font-size: 38px;
			}
			@media screen and (min-width: 62em){
				font-size: 69px;
			}


		}
}

.intro-btn{
	@include min-height(245px);
	width: auto;
	@include min-width(300px);
	margin:  0 auto;
	position: relative;
	z-index: 10;
	text-align: center;
	overflow: hidden;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		z-index: -1;
		width: 3px;
		height: 100%;
		background-color: $green-color;
	}

	.btn-md-green{
		margin-top: 40px;
		visibility: hidden;
	}
}


/** SUBPAGES INTRO
===================================*/
.intro-sub{
	background-repeat: no-repeat;
	background-position: center center;
	@include background-size(cover);
	background-attachment: fixed;
	background-color: black;
	padding: 13% 0 12%;
	@include min-height(350px);	
	box-shadow: 0px 98px 140px -10px rgb(0, 0, 0) inset;
	-moz-box-shadow: 0px 98px 140px -10px rgb(0, 0, 0) inset;
	-webkit-box-shadow: 0px 98px 140px -10px rgb(0, 0, 0) inset;

	.intro-sub-text{
		@media screen and (max-width: 48em){
			padding-top: 9%;
		}
		color: white;
		text-align: center;
		h1{
			margin: 0;
			text-transform: uppercase;
			font: 40px 'future-md';
			@media screen and (min-width: 48em){
				font-size: 72px;
			}
		}

		.small{
			font-size: 28px;
			color: $base-color;
			@media screen and (min-width: 60em){
				font-size: 35px;
			}

		}
	}
}
