/** SINGLE
===================================*/

/*====== BOS NUMBER ======*/
.box-number{
	color: #585858;
	margin-bottom: 30px;
}
.box-number_title{
	font: 24px "future-md";
	margin: 0;
	margin-bottom: 10px;
	position: relative;
	z-index: 10;
	color: $base-color;
	span{
		@include inline-block();
		background-color: white;
		padding: 0 18px 0 0;
	}
	&:before{
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		bottom: 5px;
		@include size(100%, 1px);
		background-color: #d7d7d7;
	}
}

/*====== TABS ======*/
.tabs-custom{
	margin-bottom: 30px;
	color: #585858;
	.nav{
		display: block;
		width: 100%;
	}
	.nav-tabs {
		li{
			a{
				@include border-radius(0);
				 padding: 14px 28px;
				 color: #959595;
				 text-transform: uppercase;
				 font-family: 14px "future-md";
			}
			&.active{
				a{
					color: #55555;
				}
			}
		}
	}

	.tab-content{
		.tab-pane{
			border-right: 1px solid #ddd;
			border-left: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			padding: 35px 30px 30px; 
		}
	}
}

	



.table-custom{
	margin-bottom: 30px;
	border: 1px solid darken(#b7b7b7, 10%);
	.table{
		margin-bottom: 0;
		border: 1px solid darken(#b7b7b7, 10%);
		tr{
			th{
				font-family: "future-md";
				font-size: 14px;
				text-transform: uppercase;
				text-align: center;
				padding: 11px 18px;
			}

			td{
				color:  #585858;
				font-size: 0.9em;
				padding: 11px 18px;
			}
		}
	}
}

/*====== CALL TO ACTION BOX ======*/
.cto-box{
	padding: 25px;
	border: 1px solid #c2c2c2;
	margin-bottom: 25px;
	.cto-box_title{
		margin: 0;
		margin-bottom: 15px;
		font: 23px "future-md";
		text-transform: uppercase;
		@media screen and (min-width: 30px){
			font-size: 28px;
		}
	}

	.btn-border{
		margin-top: 10px;
		margin-right: 10px;
	}

	.link-red{
		padding-top: 8px;
	}
}